.header {
    position: relative;
    background-image: url('/include/tour/img/main/Rectangle8.jpg') !important;
    background-size: cover;
    background-position: center;
    color: white;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-image 0.3s ease-in-out;
    overflow: hidden; /* Đảm bảo lớp phủ không vượt ra ngoài phần tử cha */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.5); /* Màu đen với độ mờ 50% */
    z-index: 1; /* Đảm bảo lớp phủ nằm trên ảnh nền nhưng dưới nội dung */
}

.header * {
    position: relative;
    z-index: 2; /* Đảm bảo nội dung nằm trên lớp phủ mờ */
}



.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    border-bottom: 1px solid white;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.5s ease;
}

.logo img {
    height: 100%;
    width: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.temp-icon {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.content-header {
    flex: 2;
    text-align: left;
}

.weather {
    top: 95px;
    position: absolute;
    right: 110px;
    text-align: center;
    border-radius: 8px;
}

.weather-img {
    display: inline-block;
    padding: 4px 15px;
    border: 2px solid white;
    border-radius: 49px;
    font-size: 1.2rem !important;
    font-weight: bold;
    margin: 8px 0;
    height: fit-content;
    width: 165px;
}

.weather-img p {
    height: fit-content;
    width: 165px;
}

.weather-img-content {
    font-size: 1.5rem;
}

.content-header h1 {
    font-size: 4rem;
    font-family: 'Pretendard', sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
}

.content-header h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.content-header p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    gap: 20px;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero-content h2 {
    margin-bottom: 20px;
}

.menu-links {
    display: flex;
    text-align: left;
    gap: 30px;
    border-bottom: 1px solid white;
    margin-top: 110px;
}

.menu-links a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
}

.menu-links a:hover {
    border-bottom: 3px solid white;
}

.menu-links a.active {
    position: relative;
}

.menu-links a.active::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}


.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 85%;
    margin-top: 20px;
}

.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.image-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.image-item::before {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 93, 231, 0.8), transparent);
    transition: bottom 0.5s ease-in-out;
    z-index: 1;
    opacity: 0;
}

.image-item:hover::before {
    bottom: 0;
    opacity: 1;
}

.image-item::after {
    content: "남한산성";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    text-align: center;
}

.image-item:hover img {
    transform: scale(1.1);
}

.image-item:hover::after {
    opacity: 1;
}

.image-item::before,
.image-item::after {
    pointer-events: none;
}

.image-item .plus-sign {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3; /* Đặt giá trị z-index cao hơn */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
}

.image-item:hover .plus-sign {
    opacity: 1;
}


.nav-links li {
    position: relative;
}

.nav-links .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 0;
}

.nav-links .dropdown li {
    width: 100%;
    padding: 10px 20px;
}

.nav-links .dropdown li a {
    color: #333;
    font-size: 1rem;
    text-decoration: none;
}

.nav-links .dropdown li a:hover {
    background-color: #f1f1f1;
}

.nav-links li:hover .dropdown {
    display: block;
}

.search-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.pagination-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 50%;
    background-color: #f1f1f1;
    transition: transform 0.5s ease;
    z-index: 10;
}

main {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: white;
    margin-top: 20px;
}

.footer-logo {
    width: 632px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section {
    display: flex;
}

.footer-border {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 0.9rem;
}

.footer-right img {
    width: 130px;
}

.circle-image {
    position: absolute;
    bottom: -30px;
    right: -54px;
    width: 100px;
    height: 100px;
    z-index: 3;
}

.circle-image img {
    margin-left: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.circle-image1 {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.circle-image1 .arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(320deg); /* Xoay 45 độ */
    width: 20px; /* Kích thước mũi tên */
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Kích thước font của mũi tên */
    color: white;
}


/* next */
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.content-1, .content-2 {
    width: 48%;
}

.content-1 {
    margin-left: 100px;
}

.content-2 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 100%;
}

.first-section {
    background-color: #FFFFFF;
    padding: 20px;
}

.first-container {
    align-items: center;
    margin: 0 auto;
}

.header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.header1 h1 {
    font-size: 36px;
    color: #dddddd;
    position: relative;
    z-index: -1;
    left: -10px;
}

.navigation h2 img {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}

.icon-nav {
    margin-right: 10px;
    background-color: white;
    padding: 1px 13px;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 50px;
    width: 46px;
    height: 46px;
}

.navigation h2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 10px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79%;
}

.navigation button {
    background-color: transparent;
    color: #333;
    border: 2px solid #ddd;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navigation button.active,
.navigation button:hover {
    background-color: #0066cc;
    color: white !important;
    border: 2px solid #0066cc;
    border-radius: 50px;
}

.navigation button:hover {
    background-color: #0066cc;
    color: white;
}

.navigation button img {
    margin-right: 10px;
}

.navigation button.active {
    background-color: #0066cc;
    color: white;
    border: 2px solid #0066cc;
    border-radius: 50px;
}

.navigation button:not(.active):hover {
    color: #0066cc;
    border-color: #0066cc;
}

.navigation .divider {
    height: 40px;
    width: 1px;
    background-color: #ddd;
    margin: 0 10px;
}

.content h2 {
    font-size: 50px;
    color: #333;
}

.content p {
    font-size: 20px;
    color: #666;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.gallery .buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.gallery .buttons button {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.gallery .images {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery .image-container {
    position: relative;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
    border-radius: 0; /* Không border-radius ban đầu */
}

.gallery .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: border-radius 0.3s ease;
    border-radius: 0; /* Không border-radius ban đầu */
}

.gallery .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78%;
    background-color: rgba(0, 102, 204, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease, border-radius 0.3s ease;
    border-radius: 0; /* Không border-radius ban đầu */
}

.gallery .image-overlay h3 {
    border-radius: 30px;
    color: white;
    font-size: 24px;
    margin: 0;
    text-align: center;
    z-index: 1;
}

.arrow-icon {
    position: absolute;
    bottom: 20px;
    left: 28%;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    transform: rotate(320deg);
    color: white;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    z-index: 2;
}

.arrow-icon img {
    width: 20px;
    height: auto;
    transform: rotate(45deg);
}

.gallery .image-overlay img {
    width: 30px;
    height: auto;
    z-index: 1;
}

.gallery .image-container:hover {
    border-radius: 30px; /* Thêm border-radius khi hover */
}

.gallery .image-container:hover img {
    border-radius: 30px; /* Thêm border-radius cho ảnh khi hover */
}

.gallery .image-container:hover .image-overlay {
    opacity: 1;
    border-radius: 30px; /* Thêm border-radius cho overlay khi hover */
}
.gallery .images img {
    height: 24.5vh;
    border-radius: 10px;
    object-fit: cover;
    pointer-events: none;
}

.main-image1 {
    margin-top: 531px;
    position: absolute;
    left: 4%;
    width: 100%;
    z-index: 1;
}

.main-image1 img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    clip-path: inset(0 1.5% 0 0);
}
.image-collage1{
    transform: scale(1.1);
    margin-top: 275.5px;
    position: absolute;
    left: 11%;
    width: 100%;
    z-index: 1;
}
.image-collage1 img{
    clip-path: inset(0 25.5% 0 0); 
}

.main-image {
    position: absolute;
    top: 317px;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 2;
}

.main-image img {
    width: 110%;
    /* border-radius: 155px; */
    opacity: 1;
}
#main-display {
    transition: border-radius 0.3s ease-in-out;
}

#main-display:hover {
    border-radius: 150px; /* Giá trị này có thể thay đổi tùy ý bạn */
}



.image-container.active-hover .image-overlay {
    opacity: 1;
}

.main-image img.fade-out {
    opacity: 0;
}

.seong-nam-background {
    margin-bottom: -56px;
}

.seong-nam-background h1 {
    font-size: 100px;
    color: #F2F4F4;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.content-1 h2 {
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
}

.buttons-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.btn-page.prev-image:hover {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-page.next-image:hover {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-page.play, .btn-page.stop {
    width: 40px;
    height: 40px;
    border-radius: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
    border: 2px solid transparent;
    background-color: initial;
}


.btn-page.play:hover, .btn-page.stop:hover {
    border-radius: 50%;
    box-shadow: 0 0 15px 5px #067F77; 
    border-color: #067F77;
}

.btn-page.stop img {
    width: 15px;
    height: 15px;
}



.button-box {
    justify-content: space-around;
    position: relative;
    display: flex;
    width: fit-content;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #005BAC;
}

.toggle-btn {
    padding: 10px 20px;
    background: transparent;
    border: none;
    outline: none;
    color: #005BAC;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
    z-index: 1;
}

.toggle-btn.active {
    color: white;
}

.button-box .toggle-btn:first-child.active ~ #btn {
    left: 0;
    border-radius: 30px 0 0 30px;
}

.button-box .toggle-btn:last-child.active ~ #btn {
    left: 50%;
    border-radius: 0 30px 30px 0;
}

#btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #005BAC;
    border-radius: 30px 0 0 30px;
    transition: left 0.5s ease, width 0.5s ease, border-radius 0.5s ease;
    z-index: 0;
}

.pagination {
    display: flex;
    gap: 0px;
    align-items: center;
}

.button-box,
.pagination {
    display: flex;
}

.btn-page {
    cursor: pointer;
}

.btn-page img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 25px;
}

button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.btn-page {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-page.play {
    border-image-slice: 1;
}

.btn-page.right {
    background: white;
    color: black;
}

.btn-page:hover {
    background-color: #067F77;
    color: white;
}

.themes-section h1 {
    font-size: 70px;
    justify-content: center;
}

.wrapper {
    align-items: center;
    justify-content: center;
}

.theme-slider-container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.card {
    width: 300px;
    border-radius: .75rem;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: .5rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0 , .99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    margin: 10px;
    z-index: 1;
}

.card >.row >.icon {
    font-size: 70px;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    line-height: 0.1;
}

.card > .row > .description {
    color: white;
    display: flex;
    flex-direction: column;

    height: 76px;
    width: 520px;
    opacity: 1;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    font-weight: 400;
    color: white;
}

.description h4 {
    text-transform: uppercase;
}

.theme-slider-container input {
    display: none;
}

.slider-arrow {
    margin-left: -16%;
    margin-top: 40%;
    transform: rotate(45deg);
    z-index: 2;
}

.theme-slider-container input:checked + label {
    width: 900px;
    height: auto;
}

.theme-slider-container input:checked + label .icon {
    display: none;
}

.theme-slider-container input:checked + label .description {
    margin: 50px;
    opacity: 1 !important;
    transform: translateY(-200%) !important;
    color: black !important;
}

.theme-slider-container input:checked + label .description p {
    font-size: 25px !important;
    font-weight: 500!important;
    color: black !important;
}

.theme-slider-container label[for="c1"] {
    background-color: #e215158a;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.theme-slider-container label[for="c2"] {
    background-color: #578bbd;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.theme-slider-container label[for="c3"] {
    background-color: #52a180;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.theme-slider-container input:checked + label {
    background-blend-mode: normal !important;
}

.card[for="c1"] {
    background-image: url("https://s3-alpha-sig.figma.com/img/aa33/2ffb/93301e046f4929e4c0c1d18b0b1a32f8?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gE3allWHjV73GfmqP5t9U-5195hMhG5Efj5CAiRuqFIZ2ThjzffvIb3lF6Li5IKGmyyIg3607eJG4aKTuFXsuAx4vl0QL78uy9WTQ4iYXPpTK1S8r8eoi3Dcl4NTxecFFSEAiHTkHzj4GxZuBtagfGXTpQAaXHwWsQ1iJw9hJnvP3PbUF6KYERPnVRQMPV8OuBsdVEiEwnXzLE38XlkORP1mpBRET1jw9g0ZxMHb-wXD62SDmD3sD397E0gJ8PobxbW8znHnob9aMXKoI-o451THKVXdmAEX1ZIEUjx0HBXRFAn0dvNO8qNUBMWHE0XKMzeXslXl1HseVyqk8xaHGw__");
}

.card[for="c2"] {
    background-image: url("https://s3-alpha-sig.figma.com/img/326d/3339/f1d31977c07b820125706b15433e39ee?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PW3-mnZz8G6K-flsndn~A-eaOVX~tz3tDgK8OFf2SSqRvZea6LN~WKWstplKzV6C2UVBkxjIHG9Lihobl2MZO2QuI9pqEuosSaTzeVnxG-eqvdGM7WGhgldLAqvrkQLf-lkKrflih6ENgml3jJD~YwIKCfLQ3YHH8zm7lHqIpE0S1XwYGUt7vTwg0Ef-bei13MA38TdsT-t9JvwjEEADQUv7YVuXb3AQcx~CHL~Pfh1XtFRTUrEfP5uWgHbo81FhF5ODlFyMhGS8eAmSKvBczv4PMX9N2tMK0b~S~Hlt~p6IkWlZ~URR4YMOdcRcBnMjElp3Lr2qOzlE5YX6NO9dlA__");
}

.card[for="c3"] {
    background-image: url("https://s3-alpha-sig.figma.com/img/4232/57a1/c71ae867ceaf88f03c292b274da44528?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KvnWJyolkAdriwombL8j527NH9WY02v7vnwJyx10JJPAYC5dK6dD0c0eXGPqVkGKIp6Y-jN27xoGUKH2Zgt4MvulP87PK1ReCLMSQyA0wR8pfOT-gb8c3jXd3bHfJwF5beFtWotGxMVzPLSBalh6me1KzAXuQQ-Asqb1WneCqAO7286-4DgPiMbA6tuwzKXEbA8LUV7VRt79A7VSpS8BdModcreeQ1RKYCx8acqMoabkafl8kllwMddmbH-IRPd5-3bE9N8UKRhxSrcqHnUW-MJtk7PogPrFfpzuCWHoCye75IfOlIPtDSLMrpIXoDaVJ9LFUyta0MCOOmFsbtByaA__");
}

.event-schedule h2 {
    text-align: center;
    font-size: 70px;
}

.event-overview {
    padding: 20px;
}

.event-overview h2 {
    font-size: 70px;
    text-align: center;
}

.event-schedule, .event-intro, .useful-links {
    margin-bottom: 50px;
}

#event-container {
    display: grid;
    place-items: center;
}

#slider-container {
    height: 300px;
    width: 100%;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 0 60px;
}

#slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #696969;
    border-top: 8px solid #696969;
    cursor: pointer;
    z-index: 10;
}

#slider-container .btn:hover {
    transform: scale(1.2);
}

#slider-container .btn.inactive {
    border-color: #282828;
}

#event-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px;
}

#event-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#slider-container #slider {
    display: flex;
    width: calc((100% + 30px) * 5 / 3);
    height: 85%;
    transition: margin-left 1s ease-in-out;
    gap: 30px;
}

.slide {
    height: 180px;
    width: 440px;
    margin: auto;
    background-color: #E8F5FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    place-items: center;
}
.item .slide {
    
    background-color: #E8F5FF;
    transition: background-color 0.3s ease;
  }
.item .slide:hover {
    border: 2px solid #005BAC;
    background-color: white;
  }

.date-time {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    background: white;
    text-align: center;
}


.date-time h1 {
    line-height: 0.8;
    font-size: 45px;
}

.date-time h2 {
    font-size: 18px;
}

.event-detail {
    margin-left: 20px;
}

.event-paragraph {
    color: #005BAC;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.event-time {
    display: flex;
    margin-top: 1%;
}

#slider-container #slider .slide span {
    color: white;
    font-size: 60px;
}

@media only screen and (min-width: 1100px) {
    #slider-container #slider .slide {
        width: calc((100% - 90px) / 3);
    }
}

@media only screen and (max-width: 1100px) {
    #slider-container #slider .slide {
        width: calc(100% / 3 - 30px);
    }
}

@media only screen and (max-width: 900px) {
    #slider-container #slider .slide {
        width: calc(100% / 3 - 30px);
    }
}
/* next */
.event-intro h2 {
    font-size: 70px;
    text-align: center;
}

.event-intro {
    padding: 20px;
}

.intro-content {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.image-collage {
    width: 500px;
    border-radius: 100px 10px 10px 10px;
    overflow: hidden;
    z-index: 2;
}

.image-collage img {
    width: 100%;
}

.intro-paragraph {
    height: 100%;
    width: 30%;
    margin: 50px;
    font-size: 16px;
    color: #333;
    z-index: 2;
}

.tags {
    display: flex;
    align-items: center;
}

.tag1::before,
.tag2::before {
    content: "•";
    color: green;
    margin-bottom: 10px;
    font-size: 30px;
    margin-right: 10px;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}

.tag1,
.tag2 {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.event-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    margin-top: 50px;
    width: 160px;
    color: #067F77;
    border: 1px solid #067F77;
    border-radius: 40px;
    padding: 20px;
}

.event-button:hover {
    color: white;
    background-color: #067F77;
    transition: 0.3s ease;
}

.useful-links h2 {
    font-size: 70px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 40px;
    gap: 1px; /* Sát nhau hoàn toàn */
}

.links-icon {
    text-align: center;
    flex: 1;
}


html {
    scroll-behavior: smooth;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}
 .owl-prev{
    color: lightgray;
    font-size: 52px;
    margin-bottom: 30px;
    left: 5%;
}
.owl-next{

    color: lightgray;
    font-size: 60px;
    margin-bottom: 30px;
    right: 5%;
}

.event-container{
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    position: relative;
} 
.owl-carousel{
    width: 80%;
    margin: 0 auto;

}